<section>
  <div class="container">
    <div class="about-kitchen__container">
      <img src="./images/restaurant/about-kitchen/mobile/image3_sm@1x.jpg" />
      <div class="room__image--small-group">
        <img src="./images/restaurant/about-kitchen/mobile/image1_sm@1x.jpg" />
        <img src="./images/restaurant/about-kitchen/mobile/image2_sm@1x.jpg" />
      </div>
    </div>
    <p class="paragraph restaurant__paragraph">
      At Mimino, we are experts in meat
      <span class="paragraph--italic">preparation</span>. Our chefs use only the
      finest and freshest ingredients to
      <span class="paragraph--italic">create delicious dishes</span> that
      showcase the flavors of premium cuts of meat.
    </p>
    <p class="paragraph">
      Our <span class="paragraph--italic">slow-cooking process</span> and expert
      seasoning bring out the best in each dish, making for an unforgettable
      dining experience. Come taste the magic
      <span class="paragraph--italic">of meat preparation at</span> Mimino.
    </p>
  </div>
</section>
