.visually-hidden {
    position: absolute;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    height: 1px;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    width: 1px;
    overflow: hidden;
}

.section {
    background-color: var(--ligth-theme-color);
    min-width: 320px;
}
.section--dark-theme {
    background-color: var(--dark-theme-color);
    color: var(--ligth-theme-color);
}
.section--header {
    background-color: var(--white-theme-color);
}
.section--footer {
    background-color: var(--white-theme-color);
}
.container {
    // Mobile version
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid red;

    min-width: 320px;
    max-width: 375px;
}

.container--hero {
    padding-top: 40px;
}


.btn--group {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 14px;
    justify-content: center;
}

.btn {
    background: none;
    padding: 8px 18px;
    border-radius: 32px;
    text-transform: uppercase;
    
    border: .8px solid var(--dark-theme-color);
    color: var(--dark-theme-color);
}

.btn--light-theme {
    
    border-color: var(--ligth-theme-color);
    color: var(--ligth-theme-color);

}

.site-title {
    text-transform: uppercase;

    // Mobile version
    font-size: 80px;
    line-height: 1;
    letter-spacing: -.02em;
    font-weight:  400;
    margin-bottom: 24px;
    
    text-align: center;
}

.section-title {
    letter-spacing: -.02em;
    margin-bottom: 32px;
    text-transform: uppercase;
} 
.home__section-title {
    font-weight: 500;
    line-height: 1;
    font-size: 40px;
}
.home__section-title--welcome {
    font-size: 32px;
    line-height: 1.12;
}
.paragraph {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: .05em;
}
.home__paragraph {
    margin-bottom: 32px;
}

.room__image--small-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 19px;
    margin-top: 28px;

}