.visually-hidden {
    position: absolute;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    height: 1px;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    width: 1px;
    overflow: hidden;
}
.page {
    overflow: hidden;
}
.section {
    background-color: var(--ligth-theme-color);
    min-width: 320px;
}
.section--dark-theme {
    background-color: var(--dark-theme-color);
    color: var(--ligth-theme-color);
}
.section--header {
    background-color: var(--white-theme-color);
}
.section--footer {
    background-color: var(--white-theme-color);
}
.container {
    // Mobile version
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid red;

    min-width: 320px;
    // max-width: 375px;
    @media screen and (min-width: 375px) and (max-width: 767.89px) {
    
            width: 375px;
        }
    @media screen and (min-width: 768px) and (max-width: 1439.89px) {
              
                    width: 768px;
                }   
    
          @media screen and (min-width: 1440px) {
               
                      width: 1440px;
          }                
   
}
 

.btn--group {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 14px;
    justify-content: center;
}

.btn {
    background: none;
    padding: 8px 18px;
    border-radius: 32px;
    text-transform: uppercase;
    display: block;
    border: .8px solid var(--dark-theme-color);
    color: var(--dark-theme-color);
    @media screen and (min-width: 1440px) {
        padding: 9px 24px;
        font-size: 18px;
        letter-spacing: -0.02em;
        line-height: 1.33;
    }
}

.btn--light-theme {
    
    border-color: var(--ligth-theme-color);
    color: var(--ligth-theme-color);

}
.btn-position--center {
    
    margin-right: auto;
    margin-left: auto;
    
}


.section-title {
    letter-spacing: -.02em;
    margin-bottom: 32px;
    text-transform: uppercase;
} 
.home__section-title {
    font-weight: 500;
    line-height: 1;
    font-size: 40px;
}
.home__section-title--welcome {
    font-size: 32px;
    line-height: 1.12;
}
.paragraph {
    line-height: 1.29;
    letter-spacing: -.02em;
    text-transform: uppercase;
}
.paragraph--italic {
    font-style: italic;
}
.paragraph--bold {
    font-weight: 500;
}
.home__paragraph {
    margin-bottom: 32px;
}
.restaurant__paragraph {
    margin-bottom: 24px;
}
.room__image--small-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 19px;
    margin-top: 28px;

}
.list-point {
    
    margin-bottom: 40px;
   
}

list-point__item {
   
   
}
.list-point__item::before {
    content: '';
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-left: 8px;
    margin-right: 10px;

    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--ligth-theme-color);
    
}
