<section class="section section--dark-theme">
  <div class="container">
    <h2 hidden>Amenities</h2>
    <h3>General Amenities & Facilities:</h3>
    <ul class="amenities">
      <li class="amenities__item">24-hour front desk service</li>
      <li class="amenities__item">Daily housekeeping</li>
      <li class="amenities__item">Free Wi-Fi throughout the hotel</li>
      <li class="amenities__item">Elevator access</li>
      <li class="amenities__item">Luggage storage</li>
      <li class="amenities__item">Non-smoking rooms available</li>
      <li class="amenities__item">Meeting rooms for business and events</li>
      <li class="amenities__item">On-site parking (surcharge)</li>
      <li class="amenities__item">Concierge services</li>
    </ul>
    <h3>Bathroom:</h3>
    <ul class="amenities">
      <li class="amenities__item">Private bathroom with shower</li>
      <li class="amenities__item">Complimentary toiletries</li>
      <li class="amenities__item">Hair dryer</li>
      <li class="amenities__item">Fresh towels daily</li>
      <li class="amenities__item">
        Deluxe bathrobes (in some room categories)
      </li>
    </ul>
    <h3>Bedroom:</h3>
    <ul class="amenities">
      <li class="amenities__item">Comfortable beds with high-quality linens</li>
      <li class="amenities__item">Blackout curtains</li>
      <li class="amenities__item">
        Climate control (air conditioning and heating)
      </li>
      <li class="amenities__item">Safe for valuables</li>
      <li class="amenities__item">Writing desk and chair</li>
      <li class="amenities__item">Flat-screen TV with cable channels</li>
    </ul>
    <h3>Kitchen:</h3>
    <ul class="amenities">
      <li class="amenities__item">
        In-room kitchenette (in some room categories)
      </li>
      <li class="amenities__item">Refrigerator</li>
      <li class="amenities__item">Microwave</li>
      <li class="amenities__item">Electric kettle</li>
      <li class="amenities__item">Cooking utensils and cutlery</li>
      <li class="amenities__item">Dining table and chairs</li>
    </ul>
    <h3>Media:</h3>
    <ul class="amenities">
      <li class="amenities__item">Flat-screen TV with cable channels</li>
      <li class="amenities__item">High-speed Wi-Fi</li>
      <li class="amenities__item">iPod docking station</li>
      <li class="amenities__item">Speaker system</li>
      <li class="amenities__item">Electrical outlets for charging devices</li>
    </ul>
  </div>
</section>
