<section>
  <div class="container">
    <div>
      <img src="./images/hotel/2room/mobile/image3_sm@1x.jpg" />
      <div class="room__image--small-group">
        <img src="./images/hotel/2room/mobile/image1_sm@1x.jpg" />
        <img src="./images/hotel/2room/mobile/image2_sm@1x.jpg" />
      </div>
    </div>
    <h2>DOUBLE LUXURY ROOM</h2>
    <p class="paragraph">
      Experience luxury in our Double Luxury Room at Mimino Hotel. This spacious
      room features a comfortable bed, private bathroom, flat-screen TV, and
      high-speed Wi-Fi. Climate control, blackout curtains, and soundproofing
      ensure a peaceful night's sleep.
    </p>
    <p class="paragraph">
      Relax after a busy day at the writing desk or armchair. Book now for a
      convenient and comfortable stay.
    </p>
    <div class="btn--group">
      <button class="btn">Book a table</button>
      <button class="btn">View the menu</button>
    </div>
  </div>
</section>
