<section>
  <div class="container">
    <div>
      <img src="./images/hotel/4room/mobile/image2_sm@1x.jpg" />
      <div class="room__image--small-group">
        <img src="./images/hotel/4room/mobile/image3_sm@1x.jpg" />
        <img src="./images/hotel/4room/mobile/image1_sm@1x.jpg" />
      </div>
    </div>
    <h2>four-seater room</h2>
    <p class="paragraph">
      Our 4-person room is perfect for small groups, offering comfort and
      convenience with 4 comfortable beds, ample storage, flat-screen TV,
      mini-fridge, coffee maker, desk and chair, air-conditioning, heating, and
      soundproof walls. Book now for a memorable stay.
    </p>

    <div class="btn--group">
      <button class="btn">Book a table</button>
      <button class="btn">View the menu</button>
    </div>
  </div>
</section>
