<section>
  <div class="container">
    <div>
      <img src="./images/hotel/3room/mobile/image2_sm@1x.jpg" />
      <div class="room__image--small-group">
        <img src="./images/hotel/3room/mobile/image3_sm@1x.jpg" />
        <img src="./images/hotel/3room/mobile/image1_sm@1x.jpg" />
      </div>
    </div>
    <h2>Triple Room</h2>
    <p class="paragraph">
      Escape to our spacious Triple Room, perfect for families or groups. Enjoy
      comfort with three beds, seating area, stunning views, flat-screen TVs,
      Wi-Fi, and mini-fridge.
    </p>
    <p class="paragraph">
      Rejuvenate in the en-suite bathroom with plush towels and toiletries. Book
      now for a memorable stay.
    </p>
    <div class="btn--group">
      <button class="btn">Book a table</button>
      <button class="btn">View the menu</button>
    </div>
  </div>
</section>
