.about-complex__container {
    padding-top: 64px;
}
.about__title {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: .18em;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 18px;
}
.hotel-hole {
    margin-bottom: 20px;
}
.hotel-bath {
    margin-bottom: 32px;
}
.about-complex__first-paragraph {
    margin-bottom: 14px;
}
.about-complex__second-paragraph {
    margin-bottom: 64px;
}
.about-complex__restaurant-image {
    margin-bottom: 54px;margin-bottom: 54px;
}
.about-complex__third-paragraph {
    width: 263px;
    margin-bottom: 40px;
}