.hero__btn--group {
    margin-bottom: 66px;
}

.hero--bg-image {

    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 70.73%, #121212 98.51%),
        url(../images/home/hero/hero_sm@1x.jpg);
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 70.73%, #121212 98.51%),
            url(../images/home/hero/hero_sm@2x.jpg);
    }

    padding-top: 389px;
}

.hero__paragraph {
    margin-bottom: 32px;
}