.hotel__container {
 padding-right: 0;
 overflow: hidden;
}
.hotel-hero__slider {
outline: 1px solid green;
max-width: 395px;
}
.swiper-slide {
   max-width: 250px!important;
}
.swiper-button-next-1,
.swiper-button-prev-1 {
    
position: initial !important;
    z-index: 10;
    cursor: pointer;  
}

.swiper-button-next-1::after {
    content: '>';
    color: red;
}
.swiper-button-prev-1::after {
    content: '<';
    color: red;
}
.swiper-button__group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 30px;
}


 

 

