<section class="section">
  <div class="container">
    <h2>About complex</h2>
    <!-- <img src="" aria-label="first image" />
    <img src="" aria-label="second image" /> -->
    <h3>restaurant-hotel complex</h3>
    <p class="paragraph">
      Indulge in a taste of luxury with every bite at Hotel Mimino. From the
      freshest seafood to the most succulent steaks, every dish is crafted with
      care to ensure that you enjoy a truly memorable dining experience.
    </p>
    <p class="paragraph">
      Treat yourself to a taste of the good life and come dine with us today!
    </p>
    <!-- <img src="" aria-label="third image" /> -->
    <h3>business class hotel</h3>
    <p class="paragraph">
      The Mimino hotel features spacious and stylish double luxury rooms with
      modern amenities for a comfortable stay.
    </p>
    <!-- <img src="" aria-label="fourth image" /> -->
  </div>
</section>
