<section class="section">
  <div class="container">
    <h2 class="visually-hidden">About complex</h2>
    <img
      src="/src/images/home/about/mobile/image1_sm@1x.jpg"
      aria-label="first image"
    />
    <img
      src="/src/images/home/about/mobile/image2_sm@1x.jpg"
      aria-label="second image"
    />
    <h3 class="about__title">restaurant-hotel complex</h3>
    <p class="paragraph">
      Indulge in a taste of luxury with every bite at Hotel Mimino. From the
      freshest seafood to the most succulent steaks, every dish is crafted with
      care to ensure that you enjoy a truly memorable dining experience.
    </p>
    <p class="paragraph">
      Treat yourself to a taste of the good life and come dine with us today!
    </p>
    <img
      src="/src/images/home/about/mobile/image3_sm@1x.jpg"
      aria-label="third image"
    />
    <h3 class="about__title">business class hotel</h3>
    <p class="paragraph">
      The Mimino hotel features spacious and stylish double luxury rooms with
      modern amenities for a comfortable stay.
    </p>
    <img
      src="/src/images/home/about/mobile/image4_sm@1x.jpg"
      aria-label="fourth image"
    />
  </div>
</section>
