<section class="section">
  <div class="container about-complex__container">
    <h2 class="visually-hidden">About complex</h2>
    <img
      class="hotel-hole"
      src="/src/images/home/about/mobile/image1_sm@1x.jpg"
      aria-label="hotel hole"
      alt="hotel hole"
    />
    <img
      class="hotel-bath"
      src="/src/images/home/about/mobile/image2_sm@1x.jpg"
      aria-label="hotel bath"
      alt="hotel bath"
    />
    <h3 class="about__title">restaurant-hotel complex</h3>
    <p class="paragraph paragraph--bold about-complex__first-paragraph">
      Indulge in a taste of luxury with every bite at Hotel Mimino. From the
      freshest seafood to the most succulent steaks, every dish is crafted with
      care to ensure that you enjoy a truly memorable dining experience.
    </p>
    <p class="paragraph paragraph--bold about-complex__second-paragraph">
      Treat yourself to a taste of the good life and come dine with us today!
    </p>
    <img
      class="about-complex__restaurant-image"
      src="/src/images/home/about/mobile/image3_sm@1x.jpg"
      aria-label="restaurant"
      alt="restaurant"
    />
    <h3 class="about__title">business class hotel</h3>
    <p class="paragraph paragraph--bold about-complex__third-paragraph">
      The Mimino hotel features spacious and stylish double luxury rooms with
      modern amenities for a comfortable stay.
    </p>
    <img
      src="/src/images/home/about/mobile/image4_sm@1x.jpg"
      aria-label="fourth image"
    />
  </div>
</section>
