<section class="section section--dark-theme">
  <div class="container container--hero">
    <div class="hero--bg-image">
      <h1 class="site-title">Mimino</h1>
      <div class="btn--group hero__btn--group">
        <button class="btn btn--light-theme">Book a room</button>
        <button class="btn btn--light-theme">Book a table</button>
      </div>
      <div class="hero__paragraph--group">
        <p class="paragraph hero__paragraph">
          Whether you're in the mood for a hearty breakfast, a light lunch, or
          <span class="paragraph--italic">a romantic dinner</span>, our menu has
          something for everyone.
        </p>
        <p class="paragraph hero__paragraph--last">
          At Hotel Mimino,
          <span class="paragraph--italic">we believe</span> that great food
          should be available to everyone, no matter the time of day.
        </p>
      </div>
    </div>
  </div>
</section>
