<section class="section section--dark-theme">
  <div class="container container--hero">
    <h1 class="site-title">Mimino</h1>
    <button>Book a room</button>
    <button>Book a table</button>
    <p class="paragraph">
      Whether you're in the mood for a hearty breakfast, a light lunch, or a
      romantic dinner, our menu has something for everyone.
    </p>
    <p class="paragraph">
      At Hotel Mimino, we believe that great food should be available to
      everyone, no matter the time of day.
    </p>
  </div>
</section>
