<section class="section section--dark-theme">
  <div class="container">
    <h2 class="section-title home__section-title">Hotel</h2>
    <p class="paragraph home__paragraph">
      Book your stay with us now and experience the epitome of comfort and
      luxury at our hotel. We guarantee you'll be thrilled with your decision.
    </p>
    <div class="hotel__slider-group">
      <div>
        <img src="/src/images/home/hotel/mobile/image1_sm@1x.jpg" />
        <div class="hotel__image--small-group">
          <img src="/src/images/home/hotel/mobile/image2_sm@1x.jpg" />
          <img src="/src/images/home/hotel/mobile/image3_sm@1x.jpg" />
        </div>
      </div>
    </div>

    <div class="btn--group">
      <button class="btn btn--light-theme">Book a room</button>
      <button class="btn btn--light-theme">View room</button>
    </div>
  </div>
</section>
