<section class="section">
  <div class="container">
    <h2 class="section-title home__section-title home__section-title--welcome">
      Welcome to the epitome of
      <span class="paragraph--italic">luxury</span> and
      <span class="paragraph--italic">comfort</span>
    </h2>
    <p class="paragraph home__paragraph">
      Our hotel rooms are elegantly designed with an eye for detail, ensuring
      that you have everything you need for a relaxing and rejuvenating stay.
    </p>
    <p class="paragraph home__paragraph">
      Each room is equipped with the latest amenities, including plush bedding,
      high-speed Wi-Fi, flat-screen TVs, and a coffee maker to help you start
      your day right. Our spacious bathrooms feature luxurious toiletries and
      towels, so you can pamper yourself in complete privacy.
    </p>
    <img
      src="/src/images/home/welcome/image_sm@1x.jpg"
      alt="image"
      aria-label="image"
    />
  </div>
</section>
